<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dewey</title>
  <link rel="stylesheet" href="./node_modules/tachyons/css/tachyons.css">
  <style>
    a { color: blue }
    .bookmark-li { margin-left: -0.5rem; margin-right: 0.5rem; }
    .bookmark-li:hover { background: #f5f5f5; }
  </style>
</head>
<body class="bg-near-white pa2 pa4-ns">
  <div id="app" class="ba b--black-10 br2 bg-white pa4 mw7 center">
    <input id="query" type="text" class="w-100 f5 pa2" v-model="query" placeholder="Search bookmarks">

    <ul class="list f5 pl0 mt3 mb0">
      <bookmark :data="bookmark" v-for="bookmark in visibleBookmarks" />
    </ul>
  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./node_modules/moment/moment.js"></script>
  <script src="./node_modules/js-search/dist/js-search.js"></script>
  <script src="./node_modules/axios/dist/axios.js"></script>
  <script type="text/x-template" id="bookmark-template">
    <li class="bookmark-li mb2 pa2">
      <a href="#" class="link blue lh-title">
        <a :href="data.href" target="_blank" class="fw5 underline-hover">{{ data.description }}</a>
        <span class="db black-60">{{ data.time | formatTime }}</span>
        <ul class="list pl0">
          <li v-for="tag in data.tags" class="dib mr3"><a href="#" class="f6 b db link dim dark-gray">{{ tag }}</a></li>
        </ul>
      </a>
    </li>
  </script>
  <script src="./app.js"></script>
</body>
</html>
